.header-section{
    background-color: #efefef;
    font-size: 1.25em;
    padding: 17px;
       
    a{
        margin-right: 20px;
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }
    
}