<body>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>
                    <button class="btn btn-primary" routerLink="/editar/{{cliente.id}}" routerLinkActive="router-link-active" >Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="excluirCliente(cliente.id!)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>